@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-Bold.ttf") format("ttf");
}
